
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Hammersmith+One&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.color-r {
    background-color: red;
}
.color-g {
    background-color: green;
}
.color-b {
    background-color: blue;
}


* {
    font-family: "Cabin", Arial, Helvetica, sans-serif;
}
h1 {
    font-family: "Hammersmith One", Arial, Helvetica, sans-serif;
}
h2, h3, h4, h5, h6 {
    font-family: "Rubik", Arial, Helvetica, sans-serif;
}

.text-justify { /* Was removed from bootstrap... */
    text-align: justify;
    text-justify: inter-word;
}

/*
    Buttons
*/
.btn-primary, .btn-outline-primary {
    font-family: "Rubik", Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #000;
}
.btn-primary, .btn-primary:link, .btn-primary:visited {
    background-color: #F8B803;
    border-color:#F8B803;
}
.btn-primary:hover, .btn-primary:active {
    background-color: #9c6308;
}
.btn-outline-primary, .btn-outline-primary:link, .btn-outline-primary:visited {
    border: 2px solid #f8b803;
    color: #F8B803;
}
.btn-outline-primary:hover, .btn-outline-primary:active {
    background-color: rgb(248, 184, 3, .2);
    border: 2px solid #f8b803;
    color: #F8B803;
}


/*
    Main Navigation
*/
body > header {
    background-color:  rgba(21,12,3,0.9);
}
body > header .navbar {
    height: 70px;
}
body > header .logo {
    width: 240px;
    height: auto;
}
body > header .logo-image {
    width: 145px;
}
body > header .navbar .offcanvas {
    background-color: #150c03;
}
.navbar-toggler {
    filter: invert(1);
}
.offcanvas-header {
    filter: invert(1);
}
body > header .navbar-nav li a {
    font-family: "Hammersmith One", Arial, Helvetica, sans-serif;
    font-size: 2em;
    line-height: 1.8em;
    text-transform: capitalize;
    color: #fff;
}
body > header .nav-link:link, 
body > header .nav-link:visited {
    color: #fff;
}
body > header .nav-link:hover,
body > header .nav-link:active,
body > header .navbar-nav .nav-link.active {
    color: #f8b803;
}

/*
    Splash image
*/
.bg-brown{
    background-color: #150c03;
}
main header .splash-image {
    height: 215px;
    margin-top: -70px;
}
main header h1 {
    color: #fff;
}
main header h1 + hr {
    color: #936848
}


/*
    Footer
*/
body > footer .footer {
    background-color: #030F05;
    margin-top: -8vw;
    min-height: 80px;
    padding: 5vw 0 20px;
}
body > footer .footer .logo-image {
    width: 175px;
}
body > footer .vr {
    color: #936848;
}
body > footer p:first-child  {
    color: #f8b803;
    font-family: "Rubik", Arial, Helvetica, sans-serif;
    font-size: 18px;
}



/* Footer*/
footer {
    color: #ffffff;
}
.footer-lower{
    background-color:#150C03;
}

footer .footer-links{
    text-align: center;
}
.footer-links li{
    float: left;
    list-style: none;
}

.footer-links li a{    
    font-family: "Hammersmith One", Arial, Helvetica, sans-serif; 
    text-decoration: none;  
}
.footer-links li a::after {
    content: '|';
    padding-left: 1em; 
    padding-right: 1em;
    color: #ffffff !important;
}
.footer-links li:last-child a::after {
    content: '';
}
body > footer a:link,
body > footer a:visited,
body > footer h3{
    color: #ffffff;
}

body > footer a:hover,
body > footer a:active{
    color: #edc491;
}

.social-icons a{
    margin-right: 30px;
    text-decoration: none;
}
.social-icons a:last-child{
    margin-right: 0px;
}
.social-icons i{
    font-size: 30px;
}

.social-icons a svg{
    fill: #000000;
    margin-top: -10px;
}
.social-icons a i, .social-icons a:link i,
.social-icons a:visited i{
    color: #000000;
}
.social-icons a:link svg,
.social-icons a:visited svg{
    fill: #000000;
}
.social-icons a:hover i,
.social-icons a:active i{
    color: #F8B803;
}

.social-icons a:hover svg,
.social-icons a:active svg{
    fill: #F8B803;
}

.social-icons-footer a{
    margin-right: 30px;
    text-decoration: none;
}
.social-icons-footer a:last-child{
    margin-right: 0px;
}
.social-icons-footer i{
    font-size: 30px;
}
.social-icons-footer a i{
    color: #ffffff;
}
.social-icons-footer a svg{
    fill: #ffffff;
    margin-top: -10px;
}
.social-icons-footer a:link i,
.social-icons-footer a:visited i{
    color: #ffffff;
}
.social-icons-footer a:link svg,
.social-icons-footer a:visited svg{
    fill: #ffffff;
}
.social-icons-footer a:hover i,
.social-icons-footer a:active i{
    color: #edc491;
}

.social-icons-footer a:hover svg,
.social-icons-footer a:active svg{
    fill: #edc491;
}
footer .contact-details{
    width: 100%;
    height: auto;
    font-family: "Rubik", Arial, Helvetica, sans-serif;
    font-size: 16px;
  }
footer .contact-details i{
    margin-right: 14px;
    font-size: 1.4rem;
    color: #F8B803;
}


.copyright {
    font-family: "Rubik", Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #c08659;
}

.footer-links li a{     
    font-size: 14px;
}


/* homepage */
.overlay-text {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff
}


/*
    Carousel
*/


.slick-prev, .slick-next {
    height: 50px;
    width: auto;
    z-index:10;
    fill: #f8b803;
}

.slick-prev {
    left: 15px;
}
.slick-next {
    right: 15px;
}

.slick-carousel {
    height: 550px;
    margin-top: -70px;
    background-color: #000000;
}
.slick-carousel .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.slick-carousel .overlay-text {
    background-color: rgba(0, 0, 0, 0.7);
}

.slick-carousel .overlay-text h1 {
    font-size: 24px;
}

.slick-carousel .overlay-text h2 {
    color: #f8b803;
    font-size: 16px;
}
.slide {
    position: relative;
    height: 550px;
}
.slide .slide-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center -75px;
}
.slide-image.slide1 {
    background-image: url('../images/trade-show-1.webp');
    background-repeat: no-repeat;
}
.slide-image.slide2 {
    background-image: url('../images/trade-show-2.webp');
    background-repeat: no-repeat;
}
.slide-image.slide3 {
    background-image: url('../images/trade-show-3.webp');
    background-repeat: no-repeat;
}
.slide-image.slide4 {
    background-image: url('../images/trade-show-4.webp');
    background-repeat: no-repeat;
}

/*
    Beer Section
*/
.home-beers {
    height: 450px;
    color: #fff;
    font-family: "Rubik", Arial, Helvetica, sans-serif;
    font-size: 26px;
    line-height: 36px;

    background-size: cover;
    background: url("../images/beer-bg.webp") no-repeat;
    background-color: #070707;
    background-position: -450px;
}

.home-beers span {
    font-weight: bold;
    font-size: 27px;
}

.home-beers a {
    color: #000000;
}

.home-beers p span:nth-child(1) {
    font-size: 32px;
}

.font-orange-accent {
    font-style: italic;
    color: #FF6347;
}

/*
    Quote section
*/
.parallax-bg {
    /* The image used */
    background: url("../images/home-parallax-bg.webp") no-repeat center;
    /* Set a specific height */
    height: 200px;

    /* Create the parallax scrolling effect */
    background-attachment: scroll;
    background-size: cover;
}

.parallax-bg p {
    color: #fff;
    font-family: "Rubik", Arial, Helvetica, sans-serif;
    font-size: 21px;
    font-style: italic;
    line-height: 28px;
}

.parallax-bg p span {
    font-weight: bold;
}

.parallax-bg p span:last-of-type {
    font-size: 26px;
    color: #F8B803
}

/*
    Bottles section
*/
.re-bottles {
    position:relative;
}
.re-bottles .hops-image {
    position: relative;
    margin-top: -60px;
    background: url("../images/hops.webp") no-repeat center;
    background-position: top left;
    background-size: contain;
    height: 215px;
    z-index: -2;
}
.re-bottles .leaves-image {
    position: absolute;
    right: 0;
    top: 0;
    background: url("../images/leaves-bottom.webp") no-repeat center;
    background-position: top right;
    background-size: contain;
    height: 28vh;
    width: 28vw;
    z-index: -2;
}

.re-bottles>div {
    font-family: "Rubik", Arial, Helvetica, sans-serif;
    font-size: 22px;
    line-height: 28px;
}

.re-bottles>div div:not(:nth-child(1)) span {
    font-size: 34px;
    font-weight: 600;
}

.re-bottles>div div:nth-child(1) span {
    font-size: 25px;
    font-weight: bold;
}

.re-bottles>div div:nth-child(1) {
    margin-right: 100px;
}

.re-bottles>div div:nth-child(2) {
    margin-right: 50px;
}


.re-bottles p {
    font-size: 14px;
    line-height: normal;
}

.re-bottles p:first-child {
    font-weight: 600;
}


/*
    Contact us styles
*/
main header .splash-image#splash-image-contact-us{    
    background: url("../images/banner-contact-us.webp") no-repeat center;
    background-size: cover; 
    background-position: center bottom;
}

.contact-form{
    background-color: #150C03;
    color: #ffffff;
}

.contact-form input, textarea.form-control{
    background-color: rgba(147,104,72,0.5);
    border: none;
    color: #ffffff;
    font-family: "Rubik", Arial, Helvetica, sans-serif;
}
.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ffffff;
    opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #ffffff;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: #ffffff;
}

.address-map{
    margin-top: 100px;
    margin-bottom: 100px;
}
.address-map .contact-details{
width: 100%;
height: auto;
}
.address-map .contact-details i{
    margin-right: 14px;
    font-size: 1.4rem;
}
.contact-details i.bi-envelope-at + span {
    font-family: "Rubik", Arial, Helvetica, sans-serif;
}
.collaborate{
    margin-bottom: 100px;
}


@media (min-width: 576px) {
    .parallax-bg {
        height: 250px;
    }

    .parallax-bg p {
        font-size: 26px;
        line-height: 35px;
    }

    .parallax-bg p span:last-of-type {
        font-size: 32px;
    }
}

@media (min-width: 768px) {
    .overlay-text {
        padding: 30px;
    }

    .slick-prev, .slick-next {
        height: 60px;
    }
    .slick-prev {
        left: 30px;
    }
    .slick-next {
        right: 30px;
    }

    .slick-carousel {
        height: 700px;
        margin-top: -125px;
    }

    .slide {
        height: 700px;
    }
    .slide .slide-image {
        background-position: center;
    }

    .slick-carousel .overlay {
        bottom: 30px;
    }

    .slick-carousel .overlay-text h1 {
        font-size: 30px;
    }

    .slick-carousel .overlay-text h2 {
        font-size: 18px;
    }

    .home-beers {
        font-size: 40px;
        line-height: 52px;
        background-position: 0;
    }

    .home-beers span {
        font-size: 48px;
    }

    .home-beers span {
        font-size: 40px;
    }

    .home-beers p span:nth-child(1) {
        font-size: 48px;
    }

    .parallax-bg {
        height: 300px;
    }

    .parallax-bg p {
        font-size: 32px;
        line-height: 42px;
    }

    .parallax-bg p span:last-of-type {
        font-size: 38px;
    }

    .re-bottles .hops-image {
        margin-top: -175px;
        background-position: left top;
        height: 300px;
    }

    .re-bottles>div div {
        font-size: 32px;
        line-height: 40px;
    }

    .re-bottles>div div:not(:nth-child(1)) span {
        font-size: 48px;
    }

    .re-bottles>div div:nth-child(1) span {
        font-size: 36px;
    }

    .re-bottles>div div:nth-child(2) {
        margin-left: 50px;
        margin-right: 0px;
    }

    .re-bottles>div div:nth-child(3) {
        margin-left: 100px;
    }

    .re-bottles p {
        font-size: 20px;
        margin-left: 150px;
    }
}

@media (min-width: 992px) {
    .parallax-bg {
        height: 300px;
        background-attachment: fixed;
        /* Not mobile safe */
    }
}




@media (min-width: 768px) {
    body > header .navbar {
        height: 125px;
    }
    body > header .logo {
        width: 460px;
        height: auto;
    }
    body > header .navbar-nav li a {
        font-size: 18px;
    }
    header .navbar-nav li:not(:last-of-type) a::after {
        content: '|';
        padding-left: 1em;
        color: #fff !important;
    }

    main header .splash-image {
        height: 450px;
        margin-top: -125px;
    }

    body > footer .footer {
        min-height: 300px;
    }
    body > footer .footer .logo-image {
        width: 225px;
    }
    .footer-links li a{     
        font-size: 18px;
    }
}